snippet fl
	-- ╔═════════════════════════════════════════════════════════════════════════════
	-- ║                               $1
	-- ╚═════════════════════════════════════════════════════════════════════════════

snippet fm
	-- ╔════════════════════════════════════════
	-- ║                $1
	-- ╚════════════════════════════════════════

snippet fs
	-- ╔═════════════════════
	-- ║          $1 
	-- ╚═════════════════════
